* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Niramit", sans-serif;
    font-style: normal;
    display: flex;
    flex-direction: column;
    margin: 5%;
    padding-bottom: 5em;
    line-height: 1.5;
}

header {
    margin-bottom: 1.8%;
}

main {
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 2%;
    justify-content: center;
}

.article-card {
    border: 1px solid #111;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 2em;
    min-height: 30vh;
}

.article-card h4 {
    font-size: 1.4em;
    margin: 0.5em 0 0.5em 0;
}

.image {
    width: 100%;
}

.image img {
    display: block;
    object-fit: cover;
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1200px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}