* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Charm", cursive;
  	font-weight: 400;
  	font-style: normal;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 80vh;
}

h1 {
	margin-bottom: 10px;
	text-align: center;
}

.input-area {
	display: flex;
	justify-content: center;
	align-items: center;
}

.input-area input {
	width: 10vw;
	margin: 0px 7px 0px 0px ;
}

.input-area button {
	padding: 1px;
	width: 4vw;
	cursor: pointer;
}

.input-area button::placeholder {
	text-align: center;
}

table {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

th {
	border-bottom: 1px solid black;
	font-weight: bold;
}

td {
	border-bottom: 1px solid black;
	text-align: center;
}
