* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Prompt", sans-serif;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.random {
    align-items: center;
}

h1 {
    margin-bottom: 15px;
}

.numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.chip {
    display: inline-flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.chip img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

button {
    cursor: pointer;
}