* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Charm", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 90vh;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 0px 25px 0px;
}

header #amount {
    font-weight: 600;
    font-size: 35px;
    color: #c54b4b;
}

.inp-bill {
    margin-bottom: 25px;
}

button {
    background-color: rgb(47, 150, 47);
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 4px 12px 4px 12px;
    cursor: pointer;
}

table {
    border: 1px solid #fff;
    border-collapse: separate;
    border-spacing: 1;
    box-shadow: 0 6px 18px rgba(0,0,0,0.06);
}

thead th {
    background-color: rgb(47, 150, 47);
    font-weight: 600;
    border-bottom: 1px solid #f0f0f0;
    color: #fff;
    padding: 10px;
    width: 9vw;
    height: 5vh;
}

td {
    text-align: center;
    padding: 12px 16px;
    border-bottom: 1px solid #f0f0f0;
}